
.content{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
}

.content .main{
	float: right;
	width:1000px;
}
.content .container{
	width: 970px;
    padding-bottom: 70px;
    float: right;
    margin-top: 80px;
    background: url(../img/co-ti-li-bg.png) 1px 30px no-repeat;
}

.content .container h2{
	font-size:18px;
	color: #6b412a;
	float: left;
}

.content .container li{
	float: left;
	font-size:12px;
	color:#3d3d3d;
}

.content .container>ul>li:first-child{
	padding-left: 45px;
	background: url(../img/pr-po-li-bg.png) 11px 0px no-repeat;
}

.content .container ul{
	float: right;
}

.content .container li a{
	font-size:12px;
	color:#3d3d3d;
}
.content .main>ul li img{
	width: 292px;
    height: 248px;
}

.content .main>ul li{
	float: right;
	margin: 0px 1px 30px 37px;
	padding:1px 1px 10px 1px ;
	position: relative;
	background: url(../img/co-ma-li-bg.png) 0px 0px no-repeat;
}

.content .main>ul{
	width: 1000px;
    float: right;
}

.content .main>ul h2{
    font-size: 12px;
    text-align: center;
    color: #131212;
    line-height: 45px;
}

